@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@font-face {
	font-family: 'Ghotic';
	src:  url("../data/font/gothicg_.ttf");
}

p {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
  color: #fff;
}

html {
	--body-bg-color : #444; /*couleur de fond du site*/
	--header-bg-color : #673AB7; /*couleur de la bare de navigation*/
	--active-header-bg-color : blueviolet; /*couleur de l'onglet lorsqu'on est sur la page*/
	--hover-header-bg-color : #2E4053; /*couleur de l'onglet lorsque l'on passe la souris dessus*/
  	--footer-bg-color : #088028; /*couleur de fond du pied de page*/
  	--fb-color : #4e64b5; /*couleur du logo fg*/
  	--mail-color : #00aced; /*mail*/
  	--insta-color : #9a8f62; /*insta*/
  	--yt-color : #c82929; /*yt*/
}

body {
	margin: 0;
	width: 100%;
	background-color: var(--body-bg-color);
}

body .main_img {
	height: 600px;
	width: 300px;
	background-image: url("data/main_img.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
}

body main {
	margin-top: 100px;
	border-top-style: ;
}

.titre {
	font-family: 'Ghotic','MedievalSharp', arial;
}

.citation {
	font-family: 'Brush Script MT', cursive;
}